#inicio {
  width: 100%;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*@byCovane: containerInicio principal*/
#containerInicio {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#perfil {
  width: 80vw;
  height: 80vh;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 13px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 5px rgb(93, 91, 91);
  row-gap: 20px;
  column-gap: 20px;
}

#inforInicio {
  background-color: rgb(33, 31, 31);
  box-shadow: 0 0 2px rgb(193, 191, 191);
  border-radius: 10px;
}

#minhaImagen {
  width: 11vw;
}

/*@byContent: Conteiner onde esta a apresentacao*/
#dados1 {
  width: 45vw;
  height: 75vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(27, 26, 26);
  box-shadow: 0 0 5px rgb(93, 91, 91);
}

#apresentacaoTxt {
  background-color: orangered;
  box-shadow: 0 0 5px rgb(93, 91, 91);
  width: 90%;
  height: 15vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  color: #eeeeee;
  user-select: none;
}

#sobreTxt {
  background-color: black;
  box-shadow: 0 0 5px rgb(93, 91, 91);
  width: 90%;
  border-radius: 10px;
  height: 40vh;
  text-align: justify;
  font-size: clamp(12px, 13px, 20px);
  line-height: clamp(100%, 40px, 33px);
  padding: 10px;
  font-family: "Poppins", sans-serif;
  margin: 3px;
  color: white;
  user-select: none;
}

#spamAzul {
  color: rgb(0, 174, 255);
  font-weight: 700;
}

#spamVermelho {
  color: tomato;
  font-weight: 700;
}

/*@byCovane: Menu containerInicio*/
#menu {
  width: 80%;
  height: 10vh;
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 5px rgb(93, 91, 91);
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow: hidden;
  padding: 3px;
}

#menu li {
  list-style: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu li a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: clamp(10px, 15px, 20px);
  font-weight: 600;
  border-radius: 12px;
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  user-select: none;
}

#menu li a:hover {
  box-shadow: 0 0 2px rgb(125, 125, 125);
  font-size: clamp(11px, 16px, 21px);
  color: white;
  font-weight: 700;
}

/*@byCovane: containerInicio da imagen de perfil e contactos*/
#imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  width: 45vh;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 18px, 24px);
  margin-top: 10px;
  line-height: 60px;
}

#contactos {
  width: 80%;
  height: 22vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2vh;
  grid-row-gap: 2vh;
  margin-top: 15%;
}

#contactosImg {
  width: 10vh;
}

#powered {
  width: 40vh;
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#powered p {
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#powered img {
  width: 3vh;
  height: 3vh;
  margin-left: 0.5vw;
  animation: react 5s infinite linear;
}

#inforInicio {
  overflow: hidden;
}
#inforInicio:nth-child(1) {
  background-color: black;
}

#inforInicio:nth-child(2) {
  background-color: black;
}

#listaInicio {
  width: 100%;
  height: 30vh;
  background-color: #211f1f;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
}

#listaInicioItem {
  height: calc((30vh / 5));
  padding-left: 10px;
  font-size: clamp(10px, 12px, 14px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: monospace;

  letter-spacing: 0;
  font-style: normal;
  font-weight: 550;

  color: rgb(230, 237, 243);
}

#tituloInicioReactUser {
  border-bottom: 1px solid rgba(2555, 255, 255, 0.6);
  border-top: none;
  padding: 10px;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
}

#tituloRecepcao {
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#textoRecepcao {
  width: 100%;
  height: 30vh;
  color: white;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  line-height: 5vh;
  font-size: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #211f1f;
}

#btnApresentacao {
  border: none;
  width: 10vw;
  height: 5vh;
  border: 2px solid rgb(93, 149, 69);
  background-color: #238636;
  color: rgb(246, 244, 244);
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  transition: 0.3s;
}

#btnApresentacao:hover {
  width: calc(10vw + 3px);
  height: calc(5vh + 3px);
}

@keyframes react {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*Titulo do componenteno inicio*/
#tituloInicioReact {
  color: white;
  font-size: clamp(1em, 1em + 1vw, 1em);
}
