 #inicio {
   width: 100%;
   height: auto;
   min-height: 1200px;
   background-size: 100%;
   background-repeat: no-repeat;
 }

 .bannerInicio {
   width: 80%;
   height: 500px;
   background-color: crimson;
   border-radius: 8px;
   box-shadow: 0 0 5px rgb(93, 91, 91);
   background: url(../Imagens/background.png);
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 #bannerBotao {
  border: 1px solid blueviolet;
  background-color: transparent;
  color: blueviolet;
  font-weight: 700;
}

#bannerBotao:hover {
  background-color: blueviolet;
  color: white;
}

 .bannerInicio_texto {
  background-color: white;
  width: 300px;
  height: 100px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: consolas;
 }

 .bannerInicio_texto h1 {
  font-size: 20px;
 }

 /*@byCovane: containerInicio principal*/
 #containerInicio {
   width: 100%;
   height: 1200px !important;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
 }


 .lista_card3_conteudo {
  background-color: white;
  height: 100%;
 }

 .lista_card3_conteudo li {
  height: calc(100% / 4);
  border: 1px solid white;
  border: 1px solid rgba(0, 0, 0, 0.1);
 }

 #lista_card4_conteudo li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
 }

 .lista_card3_conteudo li a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: black;
 }

 .lista_card3_conteudo li img{
  width: 40px;
  margin-right: 20px;
  margin-left: 10px;
 }

 
 
 #perfil {
   width: 80vw;
   height: 80vh;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   padding: 13px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   background-color: rgb(22, 22, 22);
   box-shadow: 0 0 5px rgb(93, 91, 91);
   row-gap: 20px;
   column-gap: 20px;
 }

 /* Componente onde ficam as informacoes no inicio */
 .inforInicio {
   background-color: rgb(22, 22, 22);
   box-shadow: 0 0 2px rgb(193, 191, 191);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   overflow: hidden;
 }

 /* titulo do Componente onde ficam as informacoes no inicio */
 .tituto_inforInicio {
   width: 100%;
   height: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid rgba(193, 191, 191, 0.2);
 }

 .tituto_inforInicio h1 {
   color: rgba(255, 255, 255, 0.6);
   font-family: consolas;
   font-weight: 800;
   font-size: 20px;
 }

 /* conteudo do Componente onde ficam as informacoes no inicio */
 .conteudo_inforInicio {
   width: 100%;
   height: 80%;
 }

 /* Conteudo dos card
 Conteudo do card1 */
 .card1_conteudo {
   width: 100%;
   height: 100%;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   user-select: none !important;
 }

 .texto_conteudo_card1 {
   color: white;
   font-family: consolas;
   font-size: 14px;
   text-align: justify;
   line-height: 20px;
   font-weight: 400;
 }

 /* botao explorar */
 .btn_card1_conteudo {
   border: 2px solid rgb(93, 149, 69);
   background-color: #238636;
   font-family: consolas;
   font-size: 12px !important;
   color: white;
   width: 25%;
   height: 5vh;
   border-radius: 6px;
   font-size: 15px;
   transition: 0.3s;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
 }

 .btn_card1_conteudo:hover {
   background-color: transparent;
 }

 /* Conteudo do card 2 */
 .card2_conteudo {
   width: 100%;
   height: 100%;
   user-select: none;
 }

 /* lista do conteudo no card 2 */
 .lista_card2_conteudo {
   width: 100%;
   height: 100%;
 }

 .lista_card2_conteudo .item_lista_card2 {
   height: calc(100% / 5);
   display: flex;
   justify-content: flex-start;
   align-items: center;
   color: white;
   font-family: consolas;
   font-size: 12px;
   font-weight: 500;
   padding-left: 5px;
 }

 /*@byCovane: Menu containerInicio*/
 #menu {
   width: 80%;
   height: 60px;
   background-color: rgb(22, 22, 22);
   box-shadow: 0 0 5px rgb(93, 91, 91);
   border-radius: 12px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   overflow: hidden;
   padding: 3px;
 }

 #menu li {
   list-style: none;
   border-radius: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 #menu li a {
   text-decoration: none;
   color: white;
   font-family: "Poppins", sans-serif;
   font-size: clamp(10px, 15px, 20px);
   font-weight: 600;
   border-radius: 12px;
   width: 95%;
   height: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.2s;
   user-select: none;
 }

 #menu li a:hover {
   box-shadow: 0 0 2px rgb(125, 125, 125);
   font-size: clamp(11px, 16px, 21px);
   color: white;
   font-weight: 700;
 }


 @keyframes react {
   from {
     transform: rotate(0deg);
   }

   to {
     transform: rotate(360deg);
   }
 }

 /*Titulo do componenteno inicio*/
 #tituloInicioReact {
   color: white;
   font-size: clamp(1em, 1em + 1vw, 1em);
 }

 @media screen and (min-width: 1201px) {
   #containerInicio {
     height: 1500px;
   }
 }


 @media screen and (max-width: 1200px) {

   #containerInicio {
     height: 100vh;
   }

   .btn_card1_conteudo {
     width: 30%;
     height: 40px;
   }

   #perfil {
     height: 900px;
   }

   #containerInicio {
     height: 1100px;
   }

   #menu {
     font-size: 14px;
   }

 }

 @media screen and (max-width: 700px) {

   #inicio {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     height: 1400px;
   }

   #containerInicio {
     height: 1400px !important;
   }

   #menu {
     width: 95%;
   }

   #perfil {
     height: 90vh;
     width: 95%;
   }

 }

 @media screen and (max-width: 480px) {

   #menu {
     height: 100px;
   }

   .bannerInicio {
    height: 500px;
    margin: 20px 0;
   }

   #inicio {
    height: 1500px;
   }

   #containerInicio {
     height: 1500px;
   }

   #perfil {
     height: 1600px;
   }


   #perfil {
     grid-template-columns: 1fr;
     grid-template-rows: repeat(4, 38vh);
     margin-top: 2vh;
   }

 }