* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none !important;
}

html {
  scroll-behavior: smooth;
  width: auto !important;
  height: auto !important;
  min-width: 460px !important;
}
  
  body {
    height: auto !important;
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  