#tituloSecao {
    height: 10vh;
    font-size: clamp(1.75rem, 3vw, 2.1rem);
    font-weight: 700;
    color: #E90064;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 35vh;
}