#containerHabilidades {
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#painelHabilidades {
  width: 80%;
  height: 170vh;
  background-color: #03001C;
  border-radius: 12px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#ttituloHabilidades {
  /*color: rgb(94, 94, 94);*/
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#linguagensHabilidades {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 5px;
}
#framworksHabilidades {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#ferramentasHabilidades {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#linguagenHabilidades {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  margin: 10px;
  box-shadow: 0 0 3px white;
  height: 42vh;
  background-color: white;
}

#imagenLinguagemhabilidades {
  width: 90%;
  height: 25vh;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

#nomeLinguagemHabilidades {
  width: 90%;
  height: 5vh;
  font-size: clamp(0.3rem, 0.5vw + 0.5rem, 1rem);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: rgba(80, 80, 80, 0.831);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  user-select: none;
}

#descricaoLinguagemHabilidades {
  width: 90%;
  height: 5vh;
  font-size: clamp(0.3rem, 0.5vw + 0.5rem, 1rem);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  color: rgb(55, 55, 55);
  user-select: none;
}

#descricaoLinguagemHabilidades:hover,
#nomeLinguagemHabilidades:hover {
  width: calc(90% + 1%);
  height: calc(5vh + 0.5vh);
  color: black;
  font-weight: 700;
}
