/* Estilos para o componete Projecto */

.conteudoProjectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(27, 26, 26);
  box-shadow: 0 0 2px rgb(93, 91, 91);
  border-radius: 12px;
  overflow: hidden;
  min-width: 80%;
  height: calc(50vh + 20vh);
}


#textoProjectos {
  color: rgba(255, 255, 255, 0.669);
  font-family: consolas;
  width: auto;
  height: 20px;
  font-size: clamp(10px, 14px, 16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#textoProjectoImagen {
  width: 40px;
  margin-right: 10px;
}

.containerProjecto {
  width: 900px;
  height: 300px;
  background-color: rgb(33, 31, 31);
  box-shadow: 0 0 2px rgb(193, 191, 191);
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
  display: flex;
}

.imagem_do_site_projecto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
}

.descricao_do_projecto_projecto {
  width: 450px;
  row-gap: 5px;
  position: relative;
}

.descricaoProjecto {
  padding: 10px;
  text-align: justify;
  color: white;
  line-height: 140%;
  font-family: consolas;
  font-size: 14px;
  font-weight: 400;
  height: 100px;
}

.tituloDoprojecto {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: consolas;
  font-size: clamp(14px, 18px, 22px);
}

.imagen_tecnologia_usada_projecto {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.imagen_tecnologia_usada_projecto img {
  width: 40px;
}

.imagem_do_projecto {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90%;
  border-radius: 10px;
}

.swiper {
  width: 900px;
  height: 300px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  background-color: rgb(27, 26, 26);
  box-shadow: 0 0 2px rgb(93, 91, 91);
}


/* Estilos para o componente principal Projectos */
.conatinerProjectos {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.redirecionamentoProjecto {
  width: 200px;
  height: 50px;
  margin-left: 25%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 15px;
}

.redirecionamentoProjecto a {
  width: 4vw;
  height: 5vh;
  text-decoration: none;
  color: black;
  font-family: consolas;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redirecionamentoProjecto a:nth-child(1) {
  width: 5vw;
}

.imagen_codigo_redirect {
  width: 24px;
}



@media screen and (min-width: 1201px) {

  .image_tecnologia {
    width: 4vw;
  }
}

@media screen and (max-width: 1200px) {
  .imagem_do_site_projecto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .imagem_do_projecto {
    height: 50%;
    margin-top: calc(5vh - 7px);
  }
}

@media screen and (max-width: 480px) {


  .containerProjecto {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .containerProjecto {
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: space-around;
    align-items: center;
  }

  .containerProjecto .imagem_do_site_projecto{
    width: 280px;
    height: 280px;
  }

  .containerProjecto .descricao_do_projecto_projecto {
    width: 280px;
    height: 370px;
  }

  .swiper {
    height: 600px;
    width: 295px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerProjecto {
    width: 290px;
    height: 600px;
  }
  
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .conteudoProjectos {
    height: 900px;
  }


  .redirecionamentoProjecto {
    bottom: 320px;
    left: calc(290px / 2 - 105px);
    margin: 0 !important;
    padding-left: 0;
  }

  .descricaoProjecto {
    height: 170px;
  }

}