/*Conteiner principal da seccao*/
#sobreContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_container {
  width: 80vw;
  height: 80vh;
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 5px rgb(93, 91, 91);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.perfil_card {
  width: 300px;
  height: 230px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(93, 91, 91);
  position: relative;
  user-select: none;
}

.perfil_card::before {
  content: "";
  width: 150px;
  height: 150px;
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 2px rgb(93, 91, 91);
  border-radius: 10px;
  position: absolute;
  left: calc(150px / 2);
  bottom: calc(330px - 150px);
  cursor: pointer;
}

.perfil_card::after {
  content: "EMERSON COVANE";
  width: 150px;
  height: 30px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 130px;
  left: calc(150px / 2);
}

.card_info {
  width: 250px;
  height: 50px;
  box-shadow: 0 0 1px rgb(93, 91, 91);
  border-radius: 10px;
  position: absolute;
  left: calc(50px / 2);
  bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card_info::after {
  content: "Programador Jr.";
  position: absolute;
  font-size: 14px;
  font-family: consolas;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  bottom: 60px;
  color: rgba(0, 0, 0, 0.56);
}

.card_info img {
  width: 30px;
  cursor: pointer;
}

.sobre_texto_container {
  width: 300px;
  height: 230px;
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 2px rgb(93, 91, 91);
  border-radius: 10px;
  border-bottom-left-radius: 0 !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre_texto1 {
  width: 290px;
  height: 220px;
  
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 2px rgb(93, 91, 91);
  border-radius: 10px;
}

 .sobre_botao1,
 .sobre_botao2,
 .sobre_botao3 {
  width: 80px;
  height: 30px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: rgb(22, 22, 22);
  border-top: none !important;
  border: 1px solid rgb(93, 91, 91, 0.5);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  position: absolute;
}

.sobre_botao1 {
  bottom: -30px;
  left: -0.5px;
  border-right: none !important;
  border-bottom:1px solid #E90064;
}

.sobre_botao2 {
  bottom: -30px;
  left: 80px;
  border-left: none !important;
  border-right: none !important;
}

.sobre_botao3 {
  border-left: none !important;
  bottom: -30px;
  left: 160px;
}

@media screen and (max-width: 480px) {
  .card_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 700px;
  }
}