/* Estilos para o componete Projecto */

.conteudoProjectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(27, 26, 26);
    box-shadow: 0 0 2px rgb(93, 91, 91);
    border-radius: 12px;
    overflow: hidden;
    width: 80%;
    height: calc(50vh + 20vh);
}

#textoProjectos {
  color: rgba(255, 255, 255, 0.669);
  width: auto;
  height: 5vh;
  font-size: clamp(10px, 14px, 16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#textoProjectoImagen {
  width: 2.5vw;
  margin-right: 10px;
}

.containerProjecto {
  width: 60vw;
  height: 45vh;
  background-color: rgb(33, 31, 31);
  box-shadow: 0 0 2px rgb(193, 191, 191);
  border-radius: 10px;
  overflow: hidden;
  user-select: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.imagem_do_site_projecto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descricao_do_projecto_projecto {
  display: grid;
  grid-template-rows: repeat(3, 20% 40% 20% 20%);
}

.descricaoProjecto {
  padding: 10px;
    text-align: justify;
    color: white;
    line-height: 140%;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(12px, 13px, 14px);
    font-weight: 400;
}

.tituloDoprojecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(14px, 18px, 22px);
}

.imagen_tecnologia_usada_projecto {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image_tecnologia {
  width: calc((100% / 4) - 5px);
  padding: 5px;
}

.redirecionamentoProjecto {
}

.imagem_do_projecto {
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.swiper {
    width: 60vw;
    height: 45vh;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(27, 26, 26);
    box-shadow: 0 0 2px rgb(93, 91, 91);
  }


/* Estilos para o componente principal Projectos */
.conatinerProjectos {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

@media  screen and (max-width: 1200px) {
  .imagem_do_site_projecto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .imagem_do_projecto {
    height: 50%;
    margin-top: calc(5vh - 7px);
  }
}

@media screen and (max-width: 480px) {
  .containerProjecto {
    height: calc( 45vh * 2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 20vh 1fr);
  }

  .conteudoProjectos {
    height: calc(45vh * 2 - 5vh);
  }

  .descricao_do_projecto_projecto {
    display: grid;
    grid-template-rows: repeat(3, 20% 60% 30% 25%);
  }

  .descricaoProjecto {
    font-size: 12px;
    line-height: 110%;
  }
  
  .imagen_tecnologia_usada_projecto {
  }

  .image_tecnologia {
    width: calc((100% / 4) - 5px);
  }

  .redirecionamentoProjecto {
  }

  .swiper {
    height: calc(45vh + 10vh);
  }

  .imagem_do_projecto {
  }
}

