#tituloSecao {
    height: 10vh;
    font-size: clamp(1.75rem, 3vw, 2.1rem);
    font-weight: bolder;
    font-family: consolas;
    color: #E90064;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35vh;
}

#esacoEntreSeccoes {
    width: 100%;
}

@media screen and (min-width: 700px) {
    #tituloSecao {
        margin-top: 0;
    }
}

@media screen and (max-width: 700px) {
    #tituloSecao {
        margin-top: 5vh;
    }
}

@media screen and (max-width: 480px) {
    #tituloSecao {
        margin-top: 5vh;
        height: 200px;
    }
}